body {
	background-color: aquamarine;
}
.wrap {
	background-color: #fff;
	margin: 50px 0;
}

.form {
	display: flex;
	justify-content: stretch;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
	list-style: none;
	display: flex;
	align-items: center;
}

.item {
	padding: 5px;
	margin: 5px;
	background-color: rgb(28, 243, 38);
	color: black;
}

.text {
	padding: 5px;
	margin: 5px;
	flex: 1 0;
	display: block;
	border: 1px solid #34d234;
	outline: none;
}

.btnDel {
	padding: 0 0 0 10px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
}